#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
	kscan0: kscan {
		compatible = "zmk,kscan-gpio-matrix";
		diode-direction = "col2row";
		wakeup-source;

		col-gpios
			= <&pro_micro 9 GPIO_ACTIVE_HIGH>  /* D9/A9  -> P1.06 -> 106 */
            , <&pro_micro 8 GPIO_ACTIVE_HIGH>  /* D8/A8  -> P1.04 -> 104 */
            , <&pro_micro 7 GPIO_ACTIVE_HIGH>  /* D7     -> P0.11 -> 011 */
			;

		row-gpios
			= <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* D14     -> P1.11 -> 111 */
            , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* D16     -> P0.10 -> 010 */
            , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* D10/A10 -> P0.09 -> 009 */
			;
	};

	default_transform: keymap_transform0 {
		compatible = "zmk,matrix-transform";
		columns = <3>;
		rows = <3>;
		map = <
			RC(0,0) RC(0,1) RC(0,2)
			RC(1,0) RC(1,1) RC(1,2)
			RC(2,0) RC(2,1) RC(2,2)
		>;
	};

	nyanpad_layout: nyanpad_layout {
		compatible = "zmk,physical-layout";
		display-name = "Nyanpad";
		kscan = <&kscan0>;
		transform = <&default_transform>;
		keys =
			<&key_physical_attrs 100 100 0 0 0 0 0>
			, <&key_physical_attrs 100 100 100 0 0 0 0>
			, <&key_physical_attrs 100 100 200 0 0 0 0>
			, <&key_physical_attrs 100 100 0 100 0 0 0>
			, <&key_physical_attrs 100 100 100 100 0 0 0>
			, <&key_physical_attrs 100 100 200 100 0 0 0>
			, <&key_physical_attrs 100 100 0 200 0 0 0>
			, <&key_physical_attrs 100 100 100 200 0 0 0>
			, <&key_physical_attrs 100 100 200 200 0 0 0>
			;
	};

	encoder0: encoder_0 {
		compatible = "alps,ec11";
		a-gpios = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; /* D20/A2 -> P0.29 -> 029 */
        b-gpios = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; /* D21/A3 -> P0.31 -> 031 */
		steps = <80>;
		status = "okay";
	};

	sensors {
		compatible = "zmk,keymap-sensors";
		sensors = <&encoder0>;
		triggers-per-rotation = <20>;
	};

	chosen {
		zmk,kscan = &kscan0;
		zmk,physical-layout = &nyanpad_layout;
	};
};